.container {
    display: flex;
    margin: 10%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    height: 1%;
}

.products {
    height: max-content;
    width: 30%;
}

img {
    width: 30%;
}

h1 {
    margin: 10rem;
    margin-bottom: 10%;
    align-self: center;
}