<!-- Agregar un componente que determine si es login o register -->
<!-- Agregar la verificación, ayuda en: https://material.angular.io/components/form-field/overview -->

<div class="container">
    <div class="login">
      <h1>Registrarse</h1>
        <mat-form-field appearance="fill">
            <mat-label>Ingrese su correo</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Ingrese su contraseña</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label> Repita su contraseña</mat-label>
            <input matInput>
          </mat-form-field>
          <a href="#">¿Tienes cuenta? <br> Inicia sesión aquí</a>
    </div>
</div>