<!-- Agregar un componente que determine si es login o register -->
<!-- Agregar la verificación, ayuda en: https://material.angular.io/components/form-field/overview -->

<div class="container">
  <div class="login">
    <h1>Registrarse</h1>
    <div class="form">
      <mat-form-field appearance="fill">
        <mat-label>Ingrese su usuario</mat-label>
        <input matInput [(ngModel)]='user.Username'>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Ingrese su dirección</mat-label>
        <input matInput [(ngModel)]='user.Address'>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Ingrese su telefono</mat-label>
        <input matInput [(ngModel)]='user.Phone'>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Ingrese su correo</mat-label>
        <input matInput [(ngModel)]='user.Email'>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Ingrese su contraseña</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label> Repita su contraseña</mat-label>
        <input matInput [(ngModel)]='user.Password'>
      </mat-form-field>
    </div>
    <button mat-flat-button color="primary" (click)="saveForm()" >Enviar</button>  
    <a href="/login">¿Tienes cuenta? <br> Inicia sesión aquí</a>
  </div>
</div>