<!-- Agregar un componente que determine si es login o register -->
<!-- Agregar la verificación, ayuda en: https://material.angular.io/components/form-field/overview -->

<div class="container">
  <form [formGroup]="form" (Submit)="saveForm()" class="register">
    <h1>Registrarse</h1>
    <div class="form">
      <mat-form-field appearance="fill">
        <mat-label>Ingrese su usuario</mat-label>
        <input matInput [(ngModel)]='user.username' formControlName="username">
      </mat-form-field>
      <!--------------------------------------- ERRORES ---------------------------------------------->
      <div class="errors-form" *ngIf="usernameControl.invalid && (usernameControl.touched || usernameControl.dirty)">
        <p class="error-msg" *ngIf="usernameControl.hasError('required')">El campo es obligatorio</p>
        <p class="error-msg" *ngIf="usernameControl.hasError('maxlength')">El campo no debe tener mas de 32 caracteres
        </p>
        <p class="error-msg" *ngIf="usernameControl.hasError('minlength')">El campo debe tener minimo 4 caracteres</p>
        <p class="error-msg" *ngIf="usernameControl.hasError('pattern')">No puede usar caracteres extraños</p>
      </div>
      <!---------------------------------- FIN DE LOS ERRORES ---------------------------------------->
      <mat-form-field appearance="fill">
        <mat-label>Ingrese su dirección</mat-label>
        <input matInput [(ngModel)]='user.address' formControlName="address">
      </mat-form-field>
      <!--------------------------------------- ERRORES ---------------------------------------------->
      <div class="errors-form" *ngIf="addressControl.invalid && (addressControl.touched || addressControl.dirty)">
        <p class="error-msg" *ngIf="addressControl.hasError('required')">El campo es obligatorio</p>
        <p class="error-msg" *ngIf="addressControl.hasError('maxlength')">El campo no debe tener mas de 32 caracteres
        </p>
        <p class="error-msg" *ngIf="addressControl.hasError('minlength')">El campo debe tener minimo 4 caracteres</p>
        <p class="error-msg" *ngIf="addressControl.hasError('pattern')">No puede usar caracteres extraños</p>
      </div>
      <!---------------------------------- FIN DE LOS ERRORES ---------------------------------------->
      <mat-form-field appearance="fill">
        <mat-label>Ingrese su telefono</mat-label>
        <input matInput [(ngModel)]='user.phone' formControlName="phone">
      </mat-form-field>
      <!--------------------------------------- ERRORES ---------------------------------------------->
      <div class="errors-form" *ngIf="phoneControl.invalid && (phoneControl.touched || phoneControl.dirty)">
        <p class="error-msg" *ngIf="phoneControl.hasError('required')">El campo es obligatorio</p>
        <p class="error-msg" *ngIf="phoneControl.hasError('maxlength')">El campo no debe tener mas de 15 caracteres
        </p>
        <p class="error-msg" *ngIf="phoneControl.hasError('minlength')">El campo debe tener minimo 7 caracteres</p>
        <p class="error-msg" *ngIf="phoneControl.hasError('pattern')">No puede usar caracteres extraños</p>
      </div>
      <!---------------------------------- FIN DE LOS ERRORES ---------------------------------------->
      <mat-form-field appearance="fill">
        <mat-label>Ingrese su correo</mat-label>
        <input matInput [(ngModel)]='user.email' formControlName="email">
      </mat-form-field>
      <!--------------------------------------- ERRORES ---------------------------------------------->
      <div class="errors-form" *ngIf="phoneControl.invalid && (phoneControl.touched || phoneControl.dirty)">
        <p class="error-msg" *ngIf="phoneControl.hasError('required')">El campo es obligatorio</p>
        <p class="error-msg" *ngIf="phoneControl.hasError('email')">No es un correo valido</p>
        <p class="error-msg" *ngIf="phoneControl.hasError('maxlength')">El campo no debe tener mas de 15 caracteres</p>
        <p class="error-msg" *ngIf="phoneControl.hasError('minlength')">El campo debe tener minimo 7 caracteres</p>
        <p class="error-msg" *ngIf="phoneControl.hasError('pattern')">No puede usar caracteres extraños</p>
      </div>
      <!---------------------------------- FIN DE LOS ERRORES ---------------------------------------->
      <mat-form-field appearance="fill">
        <mat-label>Ingrese su contraseña</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label> Repita su contraseña</mat-label>
        <input type="password" matInput [(ngModel)]='user.password' formControlName="password">
      </mat-form-field>
    </div>
    <button type="submit" mat-flat-button color="primary">Enviar</button>
    <a routerLink="/login">¿Tienes cuenta? <br> Inicia sesión aquí</a>
  </form>
</div>