.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    width: 500px;
    height: 500px;
    align-items: center;
    justify-content: center;
}

.form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.login > button {
    margin: 15px;
}