<div class="container">
  <div class="login">
    <h1>Iniciar sesion</h1>
    <!-- mat-form se usa para envolver los formularios y darles estilo desde material -->
    <mat-form-field appearance="fill"> 
      <!-- label es el texto que aparecerá sobre el input -->
      <mat-label>Ingrese su correo</mat-label>
      <input matInput [(ngModel)]='user.username'>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Ingrese su contraseña</mat-label>
      <input matInput [(ngModel)]='user.password'>
    </mat-form-field>
    <!-- Boton para enviar llamar el evento de mandarle el formulario a la api -->
    <button mat-flat-button color="primary" (click)="saveForm()">Enviar</button>
    <a href="#">¿Olvidaste tu contraseña?</a>
    <a routerLink="/register">Crear Cuenta</a>
  </div>
</div>